.projectItem .bgImage {
 
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px 16px 0 0;
}
.projectItem {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  margin: 80px 15px 80px 15px;
  cursor: pointer;   
}
.projectItem h2{
  padding: 30px;
  text-align: center;
 
}

.projectItem:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 720px){
    .projectItem{
        width: 70%;
        margin: 50px 15px 50px 15px;
    }
}