.projectdisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75.2vh;
}

.projectdisplay img{
    width: 50%;
    height: 350px;
    margin-top: 10px;
   
}
.projectdisplay p,.projectdisplay h1{
    color: #3e497a;
    margin-top: 10px;
}

.projectdisplay svg{
    margin-top: 10px;
    font-size: 30px;
}
@media screen and (max-width: 720px){
    /* .projectdisplay img{
        height: 100px;
    } */
    .projectdisplay p{
        text-align: center;
    }
}

@media screen and (max-width: 1440px){
    .projectdisplay img{
        width: 30%;
        height: 180px;
       }
}

@media screen and (max-width: 425px){
    .projectdisplay img{
        width: 50%;
        height: 180px;
       }
    .projectdisplay{
        height: 70.3vh;
    }
}

@media screen and (max-width: 375px){
    .projectdisplay img{
        width: 70%;
        height: 180px;
       }
}

